html,
body {
  color: #777;
  overflow-x: hidden;
}

#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

#layout.active #menu {
  left: 150px;
  width: 150px;
}

#layout.active .menu-link {
  left: 150px;
}

.header {
  float: right;
  color: #191818;
  margin: 0;
  font-size: 20px;
  text-align: center;
  padding: 0.1em 2em 0;
}

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}

#menu {
  margin-left: -150px;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #074580;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: fuchsia;
  color: #fff;
}

#menu .pure-menu-heading {
  font-size: 150%;
  color: #fff;
  margin: 0;
  background-color: #0078e7;
}

.menu-link {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: #0078e7;
  font-size: 10px;
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
}

.menu-link:hover,
.menu-link:focus {
  background: #000;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}

.menu-link span:after {
  margin-top: 0.6em;
}

.footer {
  position: sticky;
  left: 0;
  height: 250px;
  bottom: 0;
  width: 100%;
  background-color: #191818;
  color: white;
  text-align: center;
  clip-path: polygon(0 65%, 100% 89%, 100% 100%, 0% 100%);
}

strong {
  color: fuchsia;
}

.theme-container {
  padding: 5%;
  text-align: center;

  transition: all 0.5s ease-in;
  color: rgb(51, 51, 51);
  margin: auto;
  top: 10px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  height: 100vh;
  width: 80vw;
}

.splash-head {
  font-size: 30px;
  font-weight: bold;
  color: #0078e7;
  border: 2px solid rgb(0, 0, 0);
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1.7em;
  margin-bottom: 1em;
  justify-self: center;
  width: 70vw;
}

.splash-subhead {
  color: rgb(0, 0, 0);
  letter-spacing: 0.05em;
  opacity: 0.8;
}

.timer {
  padding-left: 200px;
}

* {
  box-sizing: border-box;
}

/* Full-width input fields */

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */

button {
  background-color: #1370e9;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */

.cancelbtn {
  padding: 14px 20px;
  background-color: fuchsia;
}

/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Clear floats */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

@media (min-width: 48em) {
  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
  #layout {
    padding-left: 150px;
    left: 0;
  }
  #menu {
    left: 150px;
  }
  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }
  #layout.active .menu-link {
    left: 150px;
  }
}

@media (max-width: 48em) {
  #layout.active {
    position: relative;
    left: 150px;
  }
}

.night-mode {
  background-color: #0078e7;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #191818;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #0078e7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(253, 253, 253);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(36, 131, 209);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.contact {
  max-width: 500px;
  margin: auto;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: fuchsia;
  color: rgb(255, 255, 255);
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  color: #191818;
}

.input-field:focus {
  border: 2px solid rgb(179, 182, 185);
}

.btn {
  background-color: #191818;
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
  background-color: #4ba3f5;
}

.column {
  display: inline-block;
  width: 100%;
  padding: 5px 0px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  height: 145px;
  text-align: center;
  background-color: #929292;
}

.pure-form {
  width: 69vw;
  height: 53%;
  margin: auto;
  position: absolute;
  top: 49px;
  bottom: 0;
  right: 0;
}

.pure-form .pure-input-1-2 {
  width: 50%;
}

/* game buttons */

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-basis: auto;
  flex-grow: 40%;
  flex-shrink: 80%;
  flex-wrap: nowrap;
}

.pure-button {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 1.5em;
  background-color: white;
  border-color: ivory;
  border-style: solid;
}
.pure-button:hover {
  background: fuchsia;
  color: white;
}

/* game */

#pure-button {
  margin-bottom: 16px;
  cursor: pointer;
}

#nextbtn {
  background: #0078e7;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 #2880b9;
}

/* #nextbtn.disabled {
  background: #ccc;
  box-shadow: 0 4px 0 #bbb;
  opacity: 0.7;
} */
#nextbtn:hover {
  background: fuchsia;
  color: white;
  box-shadow: 0 4px 0 rgb(241, 134, 209);
}

/* Create */

.prompts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#create-question-form {
  width: 100%;
}

/* Timer */

.timercounter {
  margin-top: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.timercounter.hide {
  transform: translate(-50%, -50%) scale(0);
  animation: hide 0.2s ease-out;
}

@keyframes hide {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

.timerfinal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.timerfinal.show {
  transform: translate(-50%, -50%) scale(1);
  animation: show 0.3s ease-in;
}

.timeup {
  color: fuchsia;
}

@keyframes show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  80% {
    transform: translate(-50%, -50%) scale(1.4);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.nums {
  color: #3498db;
  position: relative;
  font-size: 50px;
  overflow: hidden;
  width: 250px;
  height: 50px;
}

.nums span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(160deg);
  transform-origin: bottom center;
}

.nums span.in {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn 0.5s ease-in-out;
}

.nums span.out {
  animation: goOut 0.5s ease-in-out;
}

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  90%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes goOut {
  0%,
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(20deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}
